<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PoliPlaylist</title>
<link rel="stylesheet" type="text/css" media="all" href="../CSS/allsongsstyle.css" th:href="@{/css/allsongsstyle.css}" />
</head>
<body>

	<h1>List of all songs</h1>
	<div align="right">
		<form th:action="@{GoHome}" method="get">
		  <button type="submit">Home</button>
		</form><br>
	</div>
	
	<table th:each="sn : ${allSongs}">
		<tr>
			<th>
				<img th:src="@{'data:image/png;base64,' + ${sn.encodedAlbumCover}}" width="100"/>
			</th>
			<th>
				<div th:text="${sn.title}"></div><br>
				<form th:action="@{DeleteSong}" method="post">
					<input type="hidden" name="songId" th:value="${sn.id}">
					<button type="submit">Delete song</button>
				</form><br>
			</th>
		</tr>
		
	</table>
	
</body>
</html>
