<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PoliPlaylist</title>
<link rel="stylesheet" type="text/css" media="all" href="../CSS/playliststyle.css" th:href="@{/css/playliststyle.css}" />
</head>
<body>
	<h1 th:text="${'Playlist: ' + playlistName + ' - Playlist page'}"></h1>
	<div align="right">
		<form th:action="@{GoHome}" method="get">
			<button type="submit">Home</button>
		</form><br>
	</div>
	
	<h2>Add a song</h2>
	<form th:action="@{AddSongsToPlaylist}" method="POST">
					<input type="hidden" name="playlistId" th:value="${playlistId}">
		Choose song: <select id="songIds" name="songIds" size="4" multiple required>
							<option th:each="song : ${excludedSongs}" th:value="${song.id}" th:label="${song.title}"></option>
					</select> <br>
					<input type="submit" value="Add">
	</form>
	
	<h2 th:if="${not noSongs}" th:text="${'Page ' + page}"></h2>
	<h2 th:if="${noSongs}">Empty playlist</h2>
	<a th:if="${not firstPage}" th:href="@{/GetPlaylist(playlistId=${playlistId}, page=${page-1})}">
  		<button type="button">Previous page</button>
	</a>
	<a th:if="${not lastPage}" th:href="@{/GetPlaylist(playlistId=${playlistId}, page=${page+1})}">
  		<button type="button">Next page</button>
	</a>
	<table>
		<tr>
			<th th:each="sn : ${songs}">
				<img th:src="@{'data:image/png;base64,' + ${sn.encodedAlbumCover}}" width="100"/> <br>
				<a	th:href="@{/GetSong(songId=${sn.id}, playlistId=${playlistId})}"
					th:text="${sn.title}">	</a><br>
				<form th:action="@{RemoveSongFromPlaylist}" method="post">
					<input type="hidden" name="playlistId" th:value="${playlistId}">
					<input type="hidden" name="songId" th:value="${sn.id}">
					<button type="submit">Remove from playlist</button>
				</form><br>
			</th>
		</tr>
	</table>
	
	<form th:action="@{DeletePlaylist}" method="post">
		<input type="hidden" name="playlistId" th:value="${playlistId}">
		<button type="submit">Delete playlist</button>
	</form><br>
	

</body>
</html>
